.container {
  display: flex;
  align-items: center;

  .right {
    align-self: center;
  }
  .end {
    margin-left: 20px;
    font-size: 0.8rem;
    font-weight: 300;
    color: rgba(220, 20, 60, 0.651);
  }
}
