.container {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .formContainer {
    width: 80%;
    display: flex;

    form {
      width: 50%;
    }
  }
}
