<p-card
  [header]="post.title"
  [subheader]="post.subtitle"
  class="test"
  [style]="{ width: '60%' }"
  *ngIf="user"
>
  <ng-template pTemplate="header">
    <div
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <div
        class="top"
        [routerLink]="['/profile/user/', post.username]"
        routerLinkActive="router-link-active"
      >
        <div class="left">
          <img [src]="user.profilePicture" alt="" />
        </div>
        <div class="right">
          <strong>{{ post.username }}</strong>
          <small>{{ timeAgo }}</small>
        </div>
      </div>
      <i
        *ngIf="myUser.username === post.username"
        class="pi pi-times"
        style="color: red; margin-right: 10px; font-size: 1.5rem"
        (click)="toogleModalVisibility()"
      ></i>
    </div>
  </ng-template>

  <ng-template pTemplate="content" style="position: relative">
    <app-photo-gallery [images]="photos" />
    <p style="margin-top: 30px" [innerHTML]="post.desc"></p>
  </ng-template>

  <ng-template pTemplate="footer">
    <div style="display: flex; justify-content: space-between">
      <div style="display: flex; align-items: center">
        <i
          (click)="likeHandler()"
          [ngClass]="checkLiked() ? 'pi pi-heart-fill' : 'pi pi-heart'"
          style="color: red; font-size: 2rem"
        ></i>
        <span style="margin-left: 10px">{{ post.likes.length }} likes</span>
      </div>
      <div style="display: flex; align-items: center">
        {{ views }} <span> &nbsp; </span> <span class="pi pi-eye"></span>
        <span
          style="margin-left: 10px; cursor: pointer"
          (click)="toggleVisible()"
          >{{ post.comments.length }} comments</span
        >
      </div>
    </div>
    <div class="d-flex flex-column" *ngIf="commentVisible">
      <app-comment-form [post]="post" />
      <ng-container *ngFor="let comment of post.comments">
        <app-comment [comment]="comment" />
      </ng-container>
    </div>
  </ng-template>
</p-card>

<app-modal [visibility]="dialogVisibe" style="z-index: 5">
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    "
  >
    Are you sure to delete this post?

    <div class="modalControls">
      <p-button (click)="deletePost()" label="Yes" severity="danger"></p-button>
      <p-button (click)="toogleModalVisibility()" label="No"></p-button>
    </div>
  </div>
</app-modal>
