<p-card
  [header]="post.title"
  [subheader]="post.subtitle"
  class="test"
  [style]="{ width: '60%' }"
>
  <ng-template pTemplate="header">
    <div class="top">
      <div class="left">
        <img
          src="https://media.licdn.com/dms/image/D4D03AQGQDrQKfSmnFg/profile-displayphoto-shrink_200_200/0/1695543542316?e=2147483647&v=beta&t=_N2iVEkWy5KWDG3Qvje_5YLzMWcT8LAO_ptq4MIB6Q4"
          alt=""
        />
      </div>
      <div class="right">
        <strong>{{ post.username }}</strong>
        <small>5 mins ago</small>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="content" style="position: relative">
    <img
      src="https://tvn24.pl/najnowsze/cdn-zdjecie-thz3d5-tecza-na-niebie-5476379/tecza+shutterstock_646187128.jpg"
      alt=""
      style="width: 100%; height: 150px"
    />
    <p>
      {{ post.desc }}
    </p>
  </ng-template>

  <ng-template pTemplate="footer">
    <div style="display: flex; justify-content: space-between">
      <div style="display: flex; align-items: center">
        <i
          (click)="likeHandler()"
          [ngClass]="checkLiked() ? 'pi pi-heart-fill' : 'pi pi-heart'"
          style="color: red; font-size: 2rem"
        ></i>
        <span style="margin-left: 10px">{{ post.likes.length }} likes</span>
      </div>
      <div style="display: flex; align-items: center">
        <span style="margin-left: 10px">{{ post.comments }} comments</span>
      </div>
    </div>
    <div class="d-flex flex-column">
      <app-comment />
    </div>
  </ng-template>
</p-card>
