<p-card
  [header]="post.title"
  [subheader]="post.subtitle"
  class="test"
  [style]="{ width: '60%' }"
  *ngIf="user"
>
  <ng-template pTemplate="header">
    <div
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <div
        class="top"
        [routerLink]="['/profile/user/', post.username]"
        routerLinkActive="router-link-active"
      >
        <div class="left">
          <img [src]="user.profilePicture" alt="" />
        </div>
        <div class="right">
          <strong>{{ post.username }}</strong>
          <small>5 mins ago</small>
        </div>
      </div>
      <i
        class="pi pi-times"
        style="color: red; margin-right: 10px; font-size: 1.5rem"
        (click)="toogleModalVisibility()"
      ></i>
    </div>
  </ng-template>

  <ng-template pTemplate="content" style="position: relative">
    <!-- <img
      src="https://tvn24.pl/najnowsze/cdn-zdjecie-thz3d5-tecza-na-niebie-5476379/tecza+shutterstock_646187128.jpg"
      alt=""
      style="width: 100%; height: 150px"
    /> -->
    <app-photo-gallery [images]="photos" />
    <p>
      {{ post.desc }}
    </p>
  </ng-template>

  <ng-template pTemplate="footer">
    <div style="display: flex; justify-content: space-between">
      <div style="display: flex; align-items: center">
        <i
          (click)="likeHandler()"
          [ngClass]="checkLiked() ? 'pi pi-heart-fill' : 'pi pi-heart'"
          style="color: red; font-size: 2rem"
        ></i>
        <span style="margin-left: 10px">{{ post.likes.length }} likes</span>
      </div>
      <div style="display: flex; align-items: center">
        <span style="margin-left: 10px"
          >{{ post.comments.length }} comments</span
        >
      </div>
    </div>
    <div class="d-flex flex-column">
      <app-comment-form [post]="post" />
      <ng-container *ngFor="let comment of post.comments">
        <app-comment />
      </ng-container>
    </div>
  </ng-template>
</p-card>

<app-modal [visibility]="dialogVisibe" style="z-index: 5">
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    "
  >
    Are you sure to delete this post?

    <div class="modalControls">
      <p-button (click)="deletePost()" label="Yes" severity="danger"></p-button>
      <p-button
        (click)="toogleModalVisibility()"
        label="No"
        style="margin-left: 30px"
      ></p-button>
    </div>
  </div>
</app-modal>
