.test {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  .top {
    padding: 10px;
    display: flex;
    align-items: center;

    .left {
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
    .right {
      margin-left: 10px;
      width: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
