<div class="container" *ngIf="user">
  <div class="controls">
    <div class="profile-info">
      <app-cover-photo />
      <app-profile-photo />
    </div>

    <h1>User profile</h1>
    <div class="card flex controls2">
      <p-button
        class="btn"
        styleClass="p-button-danger p-button-text"
        (click)="toogleModalVisibility()"
        icon="pi pi-external-link"
        label="Add post"
      ></p-button>
      <p-button
        class="btn"
        styleClass="p-button-danger p-button-text"
        icon="pi pi-external-link"
        label="Edit profile info"
      ></p-button>
      <p-button
        *ngIf="myUser.username !== username"
        class="btn"
        [styleClass]="!isFollowed ? 'p-button-success' : 'p-button-danger'"
        style="position: absolute; right: 50px; top: 480px"
        icon="pi pi-external-link"
        [label]="!isFollowed ? 'Follow user' : 'Unfollow user'"
        (click)="followUser()"
      ></p-button>
    </div>
  </div>

  <app-feed [posts]="posts" />

  <app-modal [visibility]="dialogVisibe" style="z-index: 5">
    <app-add-post (closeFn)="toogleModalVisibility($event)" />
  </app-modal>
</div>
