<p-menubar [model]="items!">
  <ng-template pTemplate="start">
    <img
      src="https://primefaces.org/cdn/primeng/images/primeng.svg"
      height="40"
      class="mr-2"
    />
  </ng-template>

  <ng-template pTemplate="end"
    ><app-search-bar style="margin-right: 10rem" *ngIf="myUser" />
  </ng-template>
</p-menubar>
<app-modal
  [title]="'Followers'"
  [visibility]="dialogVisibe"
  style="z-index: 5"
  (closeFn)="toogleModalVisibility()"
>
  <app-friends-list></app-friends-list>
</app-modal>

<app-modal
  [title]="'Followings'"
  [visibility]="dialogFollowersVisible"
  style="z-index: 5"
  (closeFn)="toogleModalFollowersVisibility()"
>
  <app-followers-list *ngIf="dialogFollowersVisible" />
</app-modal>
