<form [formGroup]="formGroup" (ngSubmit)="submitHandler()">
  <h1>Change your password</h1>
  <div class="flex flex-column gap-2 m-3">
    <label htmlFor="username">Password</label>
    <input
      pInputText
      type="password"
      id="username"
      aria-describedby="username-help"
      formControlName="currentPassword"
    />
    <small id="username-help">Set your current password.</small>
    <app-error-message [control]="controls['currentPassword']" />
  </div>
  <div formGroupName="passwordGroup">
    <div class="flex flex-column gap-2 m-3">
      <label htmlFor="username">New password</label>
      <input
        pInputText
        type="password"
        id="username"
        aria-describedby="username-help"
        formControlName="password"
      />
      <small id="username-help">Set your new password</small>
      <app-error-message [control]="passwordGroupControls['password']" />
    </div>

    <div class="flex flex-column gap-2 m-3">
      <label htmlFor="username">Confirm password</label>
      <input
        pInputText
        type="password"
        id="username"
        aria-describedby="username-help"
        formControlName="passwordConfirmation"
      />
      <small id="username-help">Set password confirmation.</small>

      <app-error-message [control]="controls['passwordGroup']" />
    </div>
  </div>
  <div class="flex flex-column gap-2 m-3">
    <p-button
      type="submit"
      label="Edit profile data"
      severity="warning"
    ></p-button>
  </div>
</form>
