.list {
  display: flex;
  margin-top: 20px;
  display: flex;
  justify-content: center;

  .top {
    padding: 10px;
    display: flex;
    align-items: center;

    .left {
      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
    }
    .right {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
.users {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
